<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <h2>Vista de productos</h2>
                <% if(listExist){ %>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col" class="text-left">Precio</th>
                                <th scope="col" class="text-left">Foto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% products.forEach(function(prod){ %>
                                <tr>
                                    <td>
                                        <%= prod.title %>
                                    </td>
                                    <td class="text-left">
                                        <%= prod.price %>
                                    </td>
                                    <td class="text-left"> <img src="<%= prod.thumbnail %>" alt="img"> </button> </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
                <% } else { %>
                <div class="alert alert-warning text-center" role="alert">
                    No se encontraron productos
                </div>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>