<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <h2>Vista de productos</h2>
            {{#if listExist}}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col" class="text-left">Precio</th>
                            <th scope="col" class="text-left">Foto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            <td>{{this.title}}</td>
                            <td class="text-left"> $ {{this.price}}</td>
                            <td class="text-left"> <img src="{{this.thumbnail}}" alt="img"> </button> </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{else}}
            <div class="alert alert-warning text-center" role="alert">
                No se encontraron productos
            </div>
            {{/if}}
        </div>
    </div>
</div>